<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
    <h1><%= user.profile.firstName %>, welcome to your game armoury!</h1>
    <div class="gameSearch">
        <form action="" method="get">
            <p>Find a game: 
                <input type="search" /> 
                <button type="submit">Search</button>
            </p>
        </form>
    </div>
    <div class="game-library">
        <ul>
            <% games.forEach((game) => { %>
                <li>
                    <br />
                    <img src="<%= game.image %>"  width="300px"/>
                    <br />
                    <%= game.title %>
                    <br />
                    <%= game.genre %>
                    <br />
                    <%= game.releasedDate %>
                    <br />
                    <%= game.description %>
                    <br />
                    <a value="<%= game.gameLink %>"></a>
                    <br />
                    <% if (game.completedByUsers.includes(user._id)) { %>
                        <form action="/profile/checkbox?_method=DELETE" method="POST">
                            <input type="checkbox" value="<%= game._id %>" name="gameCompleted" checked>Game Completed</input>
                            <button type="submit">Update</button>
                        </form> 
                    <% } else { %>
                    <form action="/profile/checkbox" method="POST">
                        <input type="checkbox" value="<%= game._id %>" name="gameCompleted" >Game Completed</input>
                        <button type="submit">Update</button>
                    </form> 
                    <% } %>                   
                </li>
            <% }) %>
        </ul>
    </div>

</body>
</html>
