<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Inventory <%= game.title %></title>
</head>
<body>
    <%- include('../../partials/_navbar.ejs') %>
    <div id="container">
        <h1><span>Inventory: </span><span><%= game.title %></span></h1>
    </div>
        <div class="game-library">
            <ul>
                <img src="<%= game.image %>" alt="<%= game.title %>" title="<%= game.title %>" width="300px"/>
                <br />
                <%= game.title %>
                <br />
                <%= game.genre %>
                <br />
                <%= game.releasedDate %>
                <br />
                <%= game.description %>
                <br />
                <% if (game.completedByUsers.includes(user._id)) { %>
                    Game Status: complete
                    <br />
                    <a id="game-link" href="<%= game.gameLink %>">Website</a>
                    <form action="/profiles/checkbox?_method=DELETE" method="POST">
                        <button type="submit" value="<%= game._id %>" name="gameCompleted" >Mark game as incomplete</button>
                    </form> 
                <% } else { %>
                    
                    Game Status: incomplete
                    <br />
                    <a id="game-link" href="<%= game.gameLink %>">Website</a>
                    <form action="/profiles/checkbox" method="POST">
                        <button type="submit" value="<%= game._id %>" name="gameCompleted" >Mark game as complete</button>
                    </form>  
                <% } %>   
                <form action="/profiles/<%= game._id %>?_method=DELETE" method="POST">
                    <button value="<%= game._id %>" type="submit">Remove game from Inventory</button>
                  </form>  
            </div>
        </ul>
    </div>
</body>
</html>