<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
    <div id="form">
        <h1>
            <span><%= user.profile.firstName %>,</span> 
            welcome to 
            <span><%=profile.username %>'s</span> 
            page!
        </h1>
    </div>
    <div class="game-library">
        <ul>
            <% games.forEach((game) => { %>
                <li>
                    <img src="<%= game.image %>" alt="<%= game.title %>" title="<%= game.title %>" width="300px"/>
                    <br />
                    <p>Title: </p><%= game.title %>
                    <br />
                    <p>Genre(s): </p><%= game.genre %>
                    <br />
                    <p>Released Date: </p><%= game.releasedDate %>
                    <br />
                    <p id="removeInline">Description: </p><%= game.description %>
                    <br />
                    <a id="game-link" href="<%= game.gameLink %>">Website</a>
                    <% if (game.completedByUsers.includes(profile._id)) { %>
                        Game Status: complete
                    <% } else { %>
                        Game Status: incomplete
                    <% } %>                   
                </li>
                <br />
            <% }) %>
        </ul>
    </div>
</body>
</html>
