<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
    <h1><%= user.profile.firstName %>, welcome to your game armoury!</h1>
        <div class="game-library">
            <% games.forEach((game) => { %>
                <div class="each-game">
                    <a href="/profiles/<%= game._id %>/edit">
                        <img 
                        src="<%= game.image %>"  
                        alt="<%= game.title %>" 
                        title="<%= game.title %>" 
                        width="100px"
                        />
                    </a>
                </div>            
            <% }) %>
    </div>

</body>
</html>
