<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title><%= user.username %>'s Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
    <div id="container">
    <h1><span><%= user.username %>'s</span> Game Armoury!</h1>
        <div class="game-library">
            <% games.forEach((game) => { %>
                <div class="each-game">
                    <a
                    id="transparent" 
                    href="/profiles/<%= game._id %>/edit">
                        <img 
                        src="<%= game.image %>"  
                        alt="<%= game.title %>" 
                        title="<%= game.title %>" 
                        width="100px"
                        />
                    </a>
                    <a id="game-title"
                    href="/profiles/<%= game._id %>/edit">
                        <%= game.title %>
                    </a>
                </div>            
            <% }) %>
        </div>
    </div>
</body>
</html>
