<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
  <% game.forEach((game) => { %> 
    <h1>Reforge <span><%= game.title %></span></h1>
    <%= game._id %>
    <form action="/games/armoury/<%= game._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= game.title %>"/>
        <br />
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="<%= game.genre %>"/>
        <br />
        <label for="image">Image (hyperlink)</label>
        <input type="text" name="image" id="image" value="<%= game.image %>"/>
        <br />
        <label for="releasedDate">Release date</label>
        <input type="text" name="releasedDate" id="releasedDate" value="<%= game.releasedDate %>"/>
        <br />
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description" rows="10" ><%= game.description %></textarea>
        <br />
        <label for="gameLink">Link</label>
        <input type="text" name="gameLink" id="gameLink" value="<%= game.gameLink %>"/>
        <br />
        <button type="submit">Edit Game</button>
    </form>
    <% }) %>
</body>
</html>
