<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
        <div class="game-library">
            <% games.forEach((game) => { %>
              <ul>
                <h1><span><%= game.title %></span></h1>
                <img src="<%= game.image %>"  width="300px"/>
                  <li> 
                    <p>Title: </p><%= game.title %>
                  </li>
                  <li> 
                    <p>Genre(s): </p><%= game.genre %>
                  </li>
                  <li> 
                    <p>Released Date: </p><%= game.releasedDate %>
                  </li>
                  <li> 
                    <p id="removeInline">Description: </p><%= game.description %>
                  </li>
                  <li>     
                    <a id="game-link" href="<%= game.gameLink %>">Website</a>                 
                  </li>
                  <p></p>
                  <a id="transparent" href='/games/armoury/<%= game._id %>/edit'>
                  <button type="submit">Edit Information</button>
                  </a>
              </ul>
            <% }) %>
        </div>
</body>
</html>
