<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
        <div class="game-library">
            <% games.forEach((game) => { %>
              <ul>
                <h1><span><%= game.title %></span></h1>
                <img src="<%= game.image %>"  width="300px"/>
                  <li> 
                    Title: <%= game.title %>
                  </li>
                  <li> 
                    <%= game.genre %>
                  </li>
                  <li> 
                    <%= game.releasedDate %>
                  </li>
                  <li> 
                    <%= game.description %>
                  </li>
                  <li>     
                    <a href="<%= game.gameLink %>">Website</a>                 
                  </li>
                  <p></p>
                  <a href='/games/armoury/<%= game._id %>/edit' >
                  <button type="submit">Edit</button>
                  </a>
              </ul>
            <% }) %>
        </div>
</body>
</html>
